body {
    color: #000000;
}


/*Text*/

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.large-text {
    font-size: 1.87rem;
    font-weight: bold;
}

.blurb {
    font-size: 0.80rem;
}


/*Layout*/

.row {
    padding: 5px;
    margin: 5px;
}