body {
    color: #000000;
}


/*Text*/

.text-center {
    text-align: center;
}

.large-text {
    font-size: 1.87rem;
    font-weight: bold;
}

.blurb {
    font-size: 0.80rem;
}


/*Layout*/

.row {
    padding: 5px;
    margin: 5px;
}

/*Media queries*/


@media all and (min-width: 960px) {
    /* For laptops and desktops: */
    .text-custom {
        text-align: right;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    /* For talbets: */
    .text-custom {
        text-align: right;
    }
}

@media all and (max-width: 599px) and (min-width: 100px) {
    /* For mobile phones: */
    
    .text-custom {
        text-align: center;
    }
}